<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:title" content="<%= current_tag %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://media.entropealabs.com/photography/images/<%= images |> Enum.at(0) |> Map.get(:hash) %>" />
    <meta property="og:image" content="<%= media_server %><%= images |> Enum.at(0) |> Media.Image.thumb_path() %>" />

    <link rel="icon" type="image/x-icon" href="/img/connected.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="Videos" href="https://media.entropealabs.com/photography.xml" />
    <title>Photography | <%= current_tag %></title>
  </head>
  <body>
    <header id="header">
      <span><a href="/photography">Photography</a> | </span><span id="tag"><%= current_tag %></span>
      <span class="menu"><a href="/videos">Videos</a></span>
    </header>
    <main>
      <section id="tags">
        <ul id="tags">
          <%= for t <- tags do %>
          <li><a href="/photography/tags/<%= Images.slug(t) %>"><%= t %></a></li>
          <% end %>
        </ul>
      </section>
      <section id="media">
        <%= for i <- images do %>
          <article class="img">
            <a href="/photography/images/<%= i.hash %>">
              <img src="<%= media_server %><%= i.path %>" />
            </a>
            <ul>
              <%= for t <- i.tags do %>
              <li class="img-tag"><a href="/photography/tags/<%= Images.slug(t) %>"><%= t %></a></li>
              <% end %>
            </ul>
            <% d = DateTime.add(i.datetime, -4 * 60 * 60) %>
            <span class="datetime"><%= d |> DateTime.to_string() |> String.replace_suffix("Z", "") %></span>
            <span class="exif">ƒ <%= i.aperture %> | <%= Media.Image.secs(i.exposure_time) %> | <%= i.focal_length %>mm | ISO<%= i.iso %></span>
          </article>
        <% end %>
      </section>
      <section id="dates">
        <ul id="tags">
          <%= for t <- dates do %>
          <li><a href="/photography/dates/<%= Images.slug(t) %>"><%= t %></a></li>
          <% end %>
        </ul>
      </section>
    </main>
    <a rel="me" href="https://mastodon.social/@entropealabs"></a>
  </body>
</html>
