<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title><%= title %></title>
  <description><%= description %></description>
  <link><%= link %></link>
  <atom:link href="<%= link %>.xml" rel="self" type="application/rss+xml" />
  <copyright><%= DateTime.utc_now() |> Calendar.strftime("%Y") %> entropealabs.com All rights reserved</copyright>
  <lastBuildDate><%= DateTime.utc_now() |> Calendar.strftime("%a, %d %b %Y %H:%M:%S %z") %></lastBuildDate>
  <pubDate><%= DateTime.utc_now() |> Calendar.strftime("%a, %d %b %Y %H:%M:%S %z") %></pubDate>
  <ttl>1800</ttl>
  <%= for i <- items do %>
    <item>
      <title><%= i.title %></title>
      <description><![CDATA[<%= i.description %>]]></description>
      <link><%= i.link %></link>
      <guid isPermaLink="false"><%= i.hash %></guid>
      <pubDate><%= i.datetime |> Calendar.strftime("%a, %d %b %Y %H:%M:%S %z") %></pubDate>
    </item>
  <% end %>
</channel>
</rss>
