<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="<%= current_tag %>" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="https://media.entropealabs.com/video/<%= video.hash %>" />
    <meta property="og:image" content="<%= media_server %>/videos/<%= video.hash %>.jpg" />
    <meta property="og:video" content="<%= media_server %>/<%= video.path %>" />
    <link rel="icon" type="image/x-icon" href="/img/connected.png">
    <link rel="stylesheet" type="text/css" href="/css/videos.css">
    <title>Video | <%= video.name %></title>
  </head>
  <body>
    <header id="header">
      <span>Video | </span><span id="tag"><%= current_tag %></span>
      <span class="menu"><a href="/photography">Photography</a></span>
    </header>
    <main>
      <section id="media">
        <article class="video">
          <video controls preload="metadata" poster="<%= media_server %>/videos/<%= video.hash %>.jpg">
            <source src="<%= media_server %>/<%= video.path %>" />
          </video>
          <span class="datetime"><%= video.datetime |> DateTime.to_string() |> String.replace_suffix("Z", "") %></span>
        </article>
      </section>
    </main>
    <a rel="me" href="https://mastodon.social/@entropealabs"></a>
  </body>
</html>
