<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:title" content="Latest Videos" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://media.entropealabs.com/videos %>" />
    <meta property="og:image" content="<%= media_server %>/videos/<%= videos |> Enum.at(0) |> Map.get(:hash) %>.jpg" />
    <link rel="icon" type="image/x-icon" href="/img/connected.png" />
    <link rel="stylesheet" type="text/css" href="/css/videos.css" />
    <link rel="alternate" type="application/rss+xml" title="Videos" href="https://media.entropealabs.com/videos.xml" />
    <title>Videos</title>
  </head>
  <body>
    <header id="header">
      <span><a href="/videos">Video</a> | </span><span id="tag">Latest</span>
      <span class="menu"><a href="/photography">Photography</a></span>
    </header>
    <main>
      <section id="media">
        <%= for i <- videos do %>
          <article class="video">
            <a href="/video/<%= i.hash %>">
              <img src="<%= media_server %>/videos/<%= i.hash %>.jpg" />
            </a>
            <span class="datetime"><%= i.datetime |> DateTime.to_string() |> String.replace_suffix("Z", "") %></span>
          </article>
        <% end %>
      </section>
    </main>
    <a rel="me" href="https://mastodon.social/@entropealabs"></a>
  </body>
</html>
