html,body{
  background-color: #232323;
  width: 100%;
  margin: 0;
  color: #cccccc;
  font-family: sans-serif;
}

main {
  max-width: 1400px;
  margin: auto;
  display: grid;
  gap: 13px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: "tags media dates"
}

@media (max-width: 800px){
  main {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "media" "tags" "dates"
  }
}

ul{
  margin: 0;
  padding: 0;
  padding-right: 0px;
}

ul.image-tags{
  display: block;
}

li{
  padding: 3px;
  margin: 3px;
  background-color: #333333;
  display: inline-block;
  cursor: pointer;
}

li.img-tag{
  background-color: #666666;
  margin: 0px;
  margin-right: 3px;
}

a, a:visited{
  color: #cccccc;
  text-decoration: none;
}

span.menu{
  float: right;
  margin-right: 33px;
}

#header{
  height: 20px;
  width: 100%;
  background-color: #111111;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header span{
  margin-left: 10px;
}

span#tag{
  color: #22FF22;
  margin: 0;
}

span.datetime{
  color: #333333;
  margin-top: 7px;
  float: right;
  font-size: 10px;
}

span.exif{
  color: #333333;
  margin-top: 7px;
  float: left;
  font-size: 10px;
}

#tags{
  grid-area: tags;
  padding-left: 10px;
}

#media{
  grid-area: media;
}

#dates{
  grid-area: dates;
}

.img{
  padding: 7px;
  padding-bottom: 30px;
  background-color: #EEEEEE;
  margin-bottom: 30px;
}

img{
  width: 100%;
  padding-bottom: 33px;
}
