html,body{
  background-color: #232323;
  width: 100%;
  margin: 0;
  color: #cccccc;
  font-family: sans-serif;
}

main {
  max-width: 1024px;
  margin: auto;
}

a, a:visited{
  color: #cccccc;
  text-decoration: none;
}

span.menu{
  float: right;
  margin-right: 33px;
}
#header{
  height: 20px;
  width: 100%;
  background-color: #111111;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header span{
  margin-left: 10px;
}

span#tag{
  color: #22FF22;
  margin: 0;
}
span.datetime{
  color: #333333;
  margin-top: 7px;
  float: right;
  font-size: 10px;
}

.video{
  padding: 7px;
  padding-bottom: 30px;
  background-color: #EEEEEE;
  margin-bottom: 30px;
}

video{
  width: 100%;
}

img{
  width: 100%;
  padding-bottom: 33px;
}
